.employee-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  font-size: 24px;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
  margin: 10px 0;
  text-align: center;
}
.home{
  display: flex;
}
input[type="text"], input[type="number"] {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background-color: lightgray;
  color: black;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #000;
}

.table td {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid #000;
}